@model NerdDinner.Models.Dinner

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Dinner</h4>
    <hr/>
    <p>
        <strong>When: </strong> @Html.DisplayFor(model => model.EventDate)
    </p>
    <p>
        <strong>Where: </strong> @Html.DisplayFor(model => model.Address)
    </p>
    <p>
        <strong>Description: </strong> @Html.DisplayFor(model => model.Description)
    </p>
    <p>
        <strong>Organizer: </strong> @Html.DisplayFor(model => model.HostedBy) (@Html.DisplayFor(model => model.ContactPhone))
    </p>
</div>
<div>
    @if (Request.IsAuthenticated) {
        if (Model.IsUserRegistered(Context.User.Identity.Name))
        {

            <p>You are registered for this event!</p>

        } else {

            <p>You are not registered for this event</p>

        }

    } else {
    
        //TODO
        @Html.Raw("You must register to RSVP for this dinner.")
        
    }

    <p>
        @if (Model.IsHostedBy(Context.User.Identity.Name))
        {
            @Html.ActionLink("Edit Dinner", "Edit", new {id = Model.DinnerID})
            @Html.Raw(" | ")
            @Html.ActionLink("Delete Dinner", "Delete", new {id = Model.DinnerID})
            @Html.Raw(" | ")
        }
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
