@model PagedList.IPagedList<NerdDinner.Models.Dinner>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<h2>Upcoming Dinners</h2>

<ul>
    @foreach (var item in Model)
    {
        <li>
            @Html.ActionLink(@item.Title, "Details", new {id = item.DinnerID})
            on
            @Html.DisplayFor(modelItem => item.EventDate)
        </li>
    }
</ul>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

<ul>
    @Html.ActionLink("Create New", "Create")
</ul>
